# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]

# Variables privadas
.env
.env_prod

# Base de datos temporal
db.sqlite3

# Archivos subidos
media/

# Editores
.vscode/
.idea/

# Herramientas de compilacion frontend (los archivos ES5 generados si se versionan)
node_modules/

# Others files
pasos_para_seguir.txt
