{% extends "base.html" %}

{% block title %}Inicio | Suerte Café{% endblock %}

{% block content %}
    <h1>Suerte Café</h1>

    <p>Bienvenido, {{ user.username }}</p>

    <h2>Acciones rápidas</h2>

    <p>
        <a href="{% url 'orders:create' %}">
            Crear nuevo pedido
        </a>
    </p>

    <p>
        <a href="{% url 'orders:list' %}">
            Consultar pedidos
        </a>
    </p>

    <p>
        <a href="{% url 'menu:configuration' %}">
            Consultar menú
        </a>
    </p>
{% endblock %}